* {
  font-family: "Roboto script=latin rev=1";
}
.card-img-top {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover;
  transition: transform 0.2s; /* Animation */
}
.card-img-top:hover {
  z-index: 100 !important;
  transform: scale(1.5);
  cursor: crosshair;
}

a {
  text-decoration: none;
}
